BasedOnStyle: LLVM
Standard: Auto
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentWidth: 4
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
