---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: false
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: false
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: Inner
PointerAlignment: Left
