---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakStringLiterals: false
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: Inner
PointerAlignment: Left
