name: Auto Assign

on:
  pull_request:
    types: [ opened, ready_for_review ]
  pull_request_review:
    types: [ dismissed ]

jobs:
  add-reviewers:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
