name: macOS

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  build-and-test:
    name: "build & test"
    runs-on: macos-${{ matrix.osver }}
    strategy:
      fail-fast: false
      matrix:
        osver: [11, 12, 13]
    steps:
      - uses: actions/checkout@v4

      - name: First Generation Build
        run: make

      - name: Test the first generation
        run: make test

      - name: Second Generation Build
        run: ./build-out/poac build --verbose

      - name: Test the second generation
        run: ./poac-out/debug/poac test --verbose

      - name: Third Generation Build & Test
        run: ./poac-out/debug/poac --verbose run --release test --verbose

      - name: Create a new project with the third generation
        run: ./poac-out/debug/poac new hello_world

      - name: Run the new project
        run: ../poac-out/debug/poac --verbose run
        working-directory: hello_world

      # - name: Test Poac
      #   run: ctest --output-on-failure --verbose
      #   working-directory: build
